# Project exclude paths
.gradle
build/
logs/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

#IntelijIdea
.idea
*.iws
*.iml
*.ipr
out/
.idea/

/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat

/settings.gradle
